.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;

    height: 130px;
    width: 100%;


}

.logo {
    height: 80px;
}